h1{
    color: cadetblue;
    background-color: black;
}

#Home{
    background-color: green;
    text-emphasis-color: chocolate;
    border: black;
}

#Second{
    background-color: aqua;
}

#Third{
    background-color: darkgray;
}
p{
    background-color: #83ffee;
}